/*
Colors inspired by GMK 8008 by Dixie Mech
https://dixiemech.com/gmk8008
Dark Blue:   #3c4756
Light Blue:  #a2aebd
Pink:        #f44c7f
*/

:root {
  --bg-color: #3c4756;
  --container-color: #a2aebd;
  --main-color: #f44c7f;

  --text-color: #3c4756;
  --text-highlight: #f44c7f;
  --text-correct: #6f7b8a;
  --text-wrong: #c6262e;

  --input-wrong: rgba(198, 38, 46, 0.3);
}
